*{
	margin: 0 0 0 0;
}
#cabecinha{
	font-family: 'Raleway', sans-serif;
	font-size: 39px;
	width: 50%;
	text-align: center;
	float: left;
	background-color: #EEE;
}
#listHead{
	float: left;
	clear: right;
	width: 50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEE;
}

li {
    float: left;
}

li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}	