*{
	margin: 0 0 0 0;
}
body{
    font-size: 35px;
    color: transparent;
    width: 100%;
    position: absolute;

    background-image: url("img/b4.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
}
.base{
    position: fixed;
    width: 100%;
    height: 1000px;
}
#p1{
    background: url("img/b1.png") no-repeat 0px 200px;
}
#p2{
    background: url("img/b2.png") no-repeat 600px 400px;
}
#p3{
    background: url("img/b3.png") no-repeat 700px 10px;
}
#p4{
    background: url("img/b1.png") no-repeat 1000px 600px;
}
#cabecinha{
	font-family: 'Raleway', sans-serif;
	font-size: 39px;
	width: 50%;
	text-align: center;
	float: left;
	background-color: #EEE;
}
