*{
	margin: 0 0 0 0;
}
.conteiner{
    margin: 0 auto;
    width: 100%;
    position: relative;
    min-height: 100%;

    background-image: url("img/back.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    opacity: 0.9;
    filter: alpha(opacity=50);
}
#cabecinha{
	font-family: 'Raleway', sans-serif;
	font-size: 39px;
	width: 50%;
	text-align: center;
	float: left;
	background-color: #EEE;
}
#listHead{
	float: left;
	clear: right;
	width: 50%;
}
.hamburger{
    float: right;
    margin: auto;
    display: none;
}
.cross{
    float: right;
    margin: auto;
    display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEE;
}

li {
    float: left;
}

li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

@media 	(max-width: 480px){

}

#painel{
   position: relative;
   clear: both;
   width: 98%;
   top: 30px;
   margin: 0 auto;
}

#painel[background-image]{
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

#painel > *{
    width: 16.6%;
    float: left;
}
